<div class="container">
  <div class="row">

    <%= render "shared/left", user: @user, new_book: @new_book %>

    <!-- 右：ユーザー一覧 -->
    <div class="col-md-8 offset-md-1 user-right">
      <h1>Users</h1>

      <table class="users-table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <div class="avatar-box">
                  <% if user.profile_image.attached? %>
                    <%= image_tag user.profile_image, width: 80, height: 80 %>
                  <% else %>
                    <span class="no-image">NO IMAGE</span>
                  <% end %>
                </div>
              </td>

              <td><%= user.name %></td>

              <td>
                <%= link_to "Show", user_path(user) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>